<header>
    <img src="assets/rastmobile.png" alt="Logo">
    <nav class="d-none">
      <a routerLink="/hakkimizda">Hakkımızda</a>
      <a routerLink="/juri-yarisma">Jüri - Yarışma Yazılımı</a>
      <a routerLink="/word-ninja">Word Ninja</a>
      <a routerLink="/word-pyramids">Word Pyramids</a>
    </nav>
    <div class="social-media">
      <a href="https://www.facebook.com/rastmobile/" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="https://www.behance.net/rastmobile" target="_blank"><i class="fab fa-behance"></i></a>
      <a href="https://www.instagram.com/mobilerast/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/company/rastmobile/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </header>