<footer class="footer">
    <div class="container">
      <img src="assets/rastmobile.png" alt="Footer Resmi" class="footer-img mr-3">
      <div class="social-media mr-3">
        <a href="https://www.facebook.com"><i class="fab fa-facebook"></i> Facebook</a>
        <a href="https://twitter.com"><i class="fab fa-twitter"></i> Twitter</a>
        <a href="https://www.instagram.com"><i class="fab fa-instagram"></i> Instagram</a>
        <a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i> LinkedIn</a>
      </div>
      <nav class="mr-3">
        <a routerLink="/hakkimizda">Hakkımızda</a>
        <a routerLink="/juri-yarisma">Jüri - Yarışma Yazılımı</a>
        <a routerLink="/word-ninja">Word Ninja</a>
        <a routerLink="/word-pyramids">Word Pyramids</a>
      </nav>
      <p>&copy; 2024</p>
    </div>
  </footer>
  