.main {
    padding: 30px;
    .closeIcon {
        display: flex;
        justify-content: end;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .body {
        margin-bottom: 10px;
        p{
            color: black;
            font-weight: bold;
            font-size: 12px;
        }
        input {
             border-radius: 38px;
             border-width: 0.5px;
             width: 300px;
             height: 25px;
        }
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 35px;
        .cancel {
            margin-right: 1rem;
            background-color:#F5F7FF;
            color: #744BFC;
            border-radius: 35px;
            border: none;
            padding: 13px;
            letter-spacing: 1px;
            cursor: pointer;
        }
        .save {
            background-color: #744BFC;
            border-radius: 35px;
            color: #fff;
            border: none;
            padding: 13px;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}